@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme {
    --font-size-xs: 0.8rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.563rem;
    --font-size-3xl: 1.953rem;
    --font-size-4xl: 2.441rem;
    --font-size-5xl: 3.052rem;

    --breakpoint-xs: 360px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1440px;
    --breakpoint-xl: 1920px;
    --breakpoint-xxl: 3240px;

    --color-primary: rgb(255, 102, 0);
    --color-secondary: rgb(246, 246, 239);
    --color-font: rgb(0, 0, 0);
    --color-fontSecond: rgb(130, 130, 130);
    --color-fontAccent: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-disabled: rgb(208 208 208 / 81%);
    --color-error: rgb(211, 60, 60);
    --color-warning: rgb(255, 201, 0);
    --color-success: rgb(59, 240, 18);

    --spacing-0.5: 4px;
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-5: 32px;
    --spacing-6: 48px;
    --spacing-7: 64px;
    --spacing-8: 72px;
}
